body, div, ul, dl, ol, li, dt, dd, h1, h2, h3, h4, h5, h6, span, form, fieldset, img, input { margin:0; padding:0; border:0; font-family:"ו", Verdana, Geneva, sans-serif; }
ul, ol { list-style-type:none; }
img { border:0; vertical-align:top; }
a { color:#000000; text-decoration:none; }
a:hover { color:#a31700; text-decoration:underline; }
.cleatit { clear:both; height:0px; }

#top_bg { margin:0 auto; width:100%; height:45px; background: url(http://www.beijing.gov.cn/images/jspic/top_bg.gif) repeat-x left top;}
#top { margin:0 auto; width:1002px; height:42px; background: url(http://www.beijing.gov.cn/images/jspic/top_bg.gif) repeat-x left top; line-height:41px; padding-top:3px; }
.top_home { float:left; width:140px; padding-left:60px; background:url(http://www.beijing.gov.cn/images/jspic/logo.gif) no-repeat 13px 4px; }
.top_home li{ font-size:12px; color:#000000;}
.searchul { float:left; width:300px; height:34px; }
.searchul li { float:left; padding-top:7px; height:27px; line-height:27px; }
*+.search li { padding-top:0px;}
.keyworddefault { border:#c1c1c1 1px solid; width:200px; height:25px; padding-left:5px; line-height:25px; font-size:12px; color:#000000; }
*+li.searchbtn { padding-top:7px; }
.top_nav { float:right; width:500px; }
.top_nav li { float:left; background:url(http://www.beijing.gov.cn/images/jspic/line.gif) no-repeat left center; padding:0px 10px; font-size:12px; color:#000000; }
.top_nav .notopbg { background:none; }
#footer { width:982px; margin:0 auto; padding:0px 10px 20px; }
#footer ul { text-align:center; height:30px; padding-top:20px; }
#footer li { display:inline; line-height:24px; font-size:12px; color:#000000; background:url(http://www.beijing.gov.cn/images/jspic/line.gif) no-repeat left center; padding:0 9px 0 10px; }
#footer .noseparator { background:none; }
#footer div { text-align:center; line-height:24px; font-size:12px; color:#000000; }
#footer span { padding:0 5px; line-height:24px; font-size:12px; color:#000000;  }