.dyc_mod01
{
	width:243px; border:1px solid #ededed;margin-top:10px;
}
.dyc_mod01tit
{
	height:25px;line-height:35px;
}
.dyc_mod01tit .Head
{
	color:#e12f00;font-weight:bold;padding-left:10px; font-size:16px;font-family:"微软雅黑"
}
