body{ font-size:13px; margin:0px}
table{font-size:13px;}
.biaoti1{font-size:14px; font-weight:bold}


.bgc_yellow{ background-color:#FFFF00}
.bgc_red{background-color:#FF0000}
.bgc_white{background-color:#FFffff}
.bgc_table_bg{background-color:#FF6600}
.dh_font{ font-size:14px; font-weight:bold; color:white; text-align:center}
.dh_gd_font{ font-size:13px; font-weight:bold; color:white;}
p{line-height:19px;
}


