/*网页全局样式开始*/
	html{
		/*页面变灰*/
		/*filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
	}

	body
	{
		/*body基本样式开始*/
			background-color:#c9e9f4;	/*背景颜色*/
			font-size:9pt;	/*字体大小*/
			color:#3D3D3D;	/*字体颜色*/
			FONT-FAMILY:宋体;	/*字体*/
			text-align:left;	/*水平居左*/
			margin-top: 0px;	/*页面上边距*/
			margin-bottom: 0px;	/*页面下边距*/
			margin-left: 0px;	/*页面左边距*/
			margin-right: 0px;	/*页面右边距*/
		/*body基本样式结束*/

		/*body扩展样式开始*/
			background-image: url(../images/bg.jpg);
			background-repeat: repeat-x;	/*背景重复*/
			background-position: top;	/*背景居中*/
			scrollbar-face-color:#b9b9b9;	
			scrollbar-highlight-color:#b9b9b9;
			scrollbar-shadow-color:#b9b9b9;
			scrollbar-3dlight-color:#b9b9b9;
			scrollbar-darkshadow-color:#b9b9b9;
			scrollbar-arrow-color:#F0F0F0;
			scrollbar-track-color:#F0F0F0;
			scrollbar-base-color:#F0F0F0;

			/*拖动条的表面颜色*/
			scrollbar-face-color:#fbf6e8; 
			margin:0px;
			/*亮边*/  
			scrollbar-highlight-color:#fbf6e8;
			/*暗边*/
			scrollbar-shadow-color:#aaaaaa;
			scrollbar-3dlight-color:#aaaaaa; 			
			/*箭头颜色*/
			scrollbar-arrow-color:#aaaaaa;  
			/*拖动区域(TrackBar)颜色*/
			scrollbar-track-color:#fbf6e8;	
			scrollbar-darkshadow-color:#fbf6e8
		/*body扩展样式结束*/
	}

	page
	{
		width:auto;!important;
		max-width:1002px;!important;margin:0 auto; height:auto;!important;
		width:1002px;
	}

	/*页面容器初始化开始,*/
	/*页面容器初始化结束*/
/*网页全局样式结束*/

/*版通基本样式开始*/
	/*文章标题样式*/
	.title{font-size:16pt; FONT-FAMILY:宋体; color:#3D3D3D; font-weight:bold; line-height:150%;}

	/*首页、频道页栏目默认标题列表样式 小字体*/
	.btlm{font-size:12px; FONT-FAMILY:宋体; color:#fff; font-weight:bold; }
	.btlm4{font-size:12px; FONT-FAMILY:宋体; color:#cc0000; font-weight:bold; }
	.SY{font-size:12px; FONT-FAMILY:宋体; color:#FFF;}
	.hsbtlm{font-size:12px; FONT-FAMILY:宋体; color:#cc0000; font-weight:bold; }
	.btlmh{font-size:14px; FONT-FAMILY:宋体; color:#333333; font-weight:bold; }
	.btlmxb{font-size:14px; FONT-FAMILY:宋体; color:#ffffff; font-weight:bold; }
	.btlm1{font-size:12px; FONT-FAMILY:宋体; color:#3d6d52; font-weight:bold; }
	.btlmb{font-size:12px; FONT-FAMILY:宋体; color:#3c3c3c; font-weight:bold; }
	.bt_link{font-size:9pt; FONT-FAMILY:宋体; text-decoration:none; color:#3D3D3D;}

	/*底层栏目页标题列表及文章正文样式 大字体*/
	.bt_content{font-size:10.5pt; FONT-FAMILY:宋体; text-decoration:none; color:#3D3D3D; line-height:180%;}

	/*时间显示样式*/
	.bt_time {  font-size:7pt; color:#999999; FONT-FAMILY:Verdana}
	.bt_date {  font-size:9pt; color:#a7a7a7; FONT-FAMILY:Verdana; font-family:"宋体"}

	/*"更多"显示样式*/
	.bt_more {font-size:9pt ;text-decoration:underline; color:#3D3D3D}
	.bt_moresy {font-size:12px ;FONT-FAMILY:宋体; color:#333333}
	.bt_moresy1 {font-size:12px ;FONT-FAMILY:宋体; color:#000000}
	.xbt {font-size:12px ;FONT-FAMILY:宋体; color:#2e6948}

	.bt_unline  {border-bottom:#999999 dashed 1px;}
	.gywm  {font-size:12px ;FONT-FAMILY:宋体; color:#215638}
	.bqxx  {font-size:12px ;FONT-FAMILY:宋体; color:#333333}
/*版通基本样式结束*/

/*超链接样式开始 可自行扩展*/
	a.white{FONT-FAMILY:宋体; text-decoration: none; color:#ffffff; font-size:14px; font-weight:bold;}
	a.white:hover {FONT-FAMILY:宋体; text-decoration:none; color:#ff0000;}

	a.bt_more {FONT-FAMILY:宋体; text-decoration: underline; color:#3D3D3D;}
	a.bt_more:hover {FONT-FAMILY:宋体; text-decoration: underline; color:#FF0000;}
	a.bt_more:visited {FONT-FAMILY:宋体; text-decoration: underline; color:#3D3D3D;}

	/*整个网页超链接样式开始*/
	a{FONT-FAMILY:宋体; text-decoration:none; color:#3D3D3D;}
	a:hover {FONT-FAMILY:宋体; text-decoration:none; color:#ff0000;}
/*超链接样式结束*/

/* 自定义样式开始 */
	/*各种颜色样式 可自行扩展*/
	.blue{font-size:14px; color:#0F7BD8; font-weight:bold;}
	.white{color:#FFFFFF; font-size: 9pt; text-decoration:none; }
	.white1{color:#FFFFFF; font-weight:bold;font-size: 14px; text-decoration:none; }
	.red {text-decoration:underline;color:#C70506; }
	.yellow {text-decoration:none;color:#FFB900; }
	.green {text-decoration:underline;color:#038C54; }
	.coffee {color:#A70404;font-size: 9pt; text-decoration:none; }
	.purple {color:#70017A;font-size: 9pt; text-decoration:none; }

	/* 四周为1象素的边框*/
	.border1 
	{  
		BORDER-RIGHT: #B8E4ED 1px solid; BORDER-LEFT: #B8E4ED 1px solid; BORDER-BOTTOM: #B8E4ED 1px solid;BORDER-TOP: #B8E4ED 1px solid;background-color:#ffffff
	}
	.border2
	{  
		BORDER-RIGHT: #DCE9F9 1px solid; BORDER-LEFT: #DCE9F9 1px solid; BORDER-BOTTOM: #DCE9F9 1px solid;background-color:#ffffff
	}
	.h1_border
	{  
		 BORDER-LEFT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid;background-color:#f7f7f7
	}
	.h2_border
	{  
		 BORDER-LEFT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid;background-color:#f7f7f7
	}
	.r1_border
	{  
		 BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid;background-color:#f7f7f7
	}
	.r2_border
	{  
		 BORDER-RIGHT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid;background-color:#f7f7f7
	}

	/*表格背景图片不动*/
	.bgimg{background-image:url(images/图片文件);background-repeat:no-repeat;background-position:right bottom;}

	/*	一些滤镜的样式 慎用 */
	/* Glow 扩充的阴影字 IE4.0+*/
	.glow
	{
		FONT-SIZE: 10.5pt; 
		filter: Glow(Color=#3D3D3D, Strength=2)
	}   

	/* Gradient 渐变 gradientType=0垂直渐变 1水平渐变默认 00完全透明  ff完全不透明 IE5.5+ */
	.grad
	{
		FONT-SIZE: 10.5pt; 
		FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FF0000FF,endColorStr=#00000000)
	}	

	/* AlphaImageLoader 图片平铺  scale:拉伸图片满表格 crop:显示图片自身大小并显示背景色 image:只显示图片 IE5.5+*/
	.alphaimage
	{
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/rdl_ice.jpg', sizingMethod='scale')
	} 

	/* Blur IE5.5+ 模糊阴影字*/
	.blur1
	{
		filter:progid:DXImageTransform.Microsoft.Blur(makeShadow=true,pixelRadius=1,shadowOpacity=0.25)
	}	

	/* Blur IE5.5+ 模糊阴影字*/
	.blur2
	{
		filter:blur(add=ture,direction=135,strength=6)
	}	

	/* DropShadow 有斜度的阴影字 IE4.0+ */
	.dropshadow1 
	{
		color: #ff0000;
		filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1)
	}	

	/*	制作对象的阴影效果IE5.5+*/
	.dropshadow2
	{
		filter:progid:DXImageTransform.Microsoft.DropShadow(color=#FF404040,offX=3,offY=3,positives=true)
	}
/* 自定义样式结束 */


/*-------------------------------↓分页样式开始↓------------------------------------*/
.page_num{padding-top:35px; padding-bottom:35px; overflow:hidden; padding-left:25px; padding-right:25px;}

#page_div{line-height:20px; text-align:center;}

#pagination_input{ width:20px; height:16px; line-height:16px; margin:0 5px; padding:0; overflow:hidden; border:1px solid #ccc;text-align:center;}

#page_div .pagination_index, #page_div .pagination_index_num{ 
	background:#fff; border:1px solid #ccc; padding:0 5px;
	margin-right:2px;
	float: left; height:20px;text-align:center;}
#page_div .pagination_index a, #page_div .pagination_index_num a{padding:0px; margin:0px;}
/* ========="首页"样式=========*/

#page_div .pagination_index_num{margin-right:2px; padding:0px; width:20px;}
#page_div .currentIndex{background:#0477D0; border:1px solid #0477D0; width:20px; height:20px;  padding:0px;
line-height:20px; color:#FFF;text-align:center; font-weight:bold;} /*=========当前页码样式=========*/

#page_div .pagination_index_last{width:300px; float:right; text-align:right;}
/*-------------------------------↑分页样式结束↑---------------------------------------*/
.bt1 a{font-size:14px; font-weight:bolder; color:#00549f;}
.bt2 a{font-size:10.5pt; font-weight:bolder; color:#fff;}
/*.bb1 a{font-size:10.5pt;line-height: 22px;}*/
.bg1 { padding-left:13px; background: url(../images/col_07.jpg) bottom no-repeat;}
.rdzt a{font-size:9pt;color:#0b6fa3;text-align:center; font-weight:bold; cursor:pointer;}